table {
    width          : 100%;
    border-collapse: collapse;
}

.table-wrap {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
}

.table__header {
    margin-bottom: 30px;
}

.table__row {
    width : 100%;
    height: 50px;

    &--header {
        background-color: #666d89;
        color           : $textcolor;
    }

    @media (max-width: 480px) {
        font-size: 12px;
    }

    @media (max-width: 320px) {
        font-size: 9px;
    }

}


.table__col-1 {
    width  : 50%;
    padding: 5px 5px;
}

.table__col-2 {
    width     : 25%;
    padding   : 5px 5px;
    text-align: center;
}

.table__col-3 {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;

}

.table__col{
    border-right: 2px solid #f2f2f2;

}
.table__col--header{
    border-right: 2px solid #666d89;
}
tr:not(:first-child):hover td{
    color           : $textcolor;
    background-color: #eb5055;
    border-color:  #eb5055;
    cursor          : pointer;
}




